@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #000;
  background-color: #000; }

.reveal {
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #000; }

::selection {
  color: #fff;
  background: #6e71d1;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #6e71d1;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  font-family: Montserrat, Verdana, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.3em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2e3191;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #474bc5;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1c1d57; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2e3191;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2e3191; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2e3191; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #000; } }

.reveal .slides {
  background-color: #fff; }

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0; }

.reveal section.has-dark-background, .reveal section.has-dark-background h1, .reveal section.has-dark-background h2, .reveal section.has-dark-background h3, .reveal section.has-dark-background h4, .reveal section.has-dark-background h5, .reveal section.has-dark-background h6 {
  color: #fff; }

.reveal ol, .reveal dl, .reveal ul {
  display: block; }
  .reveal ol li, .reveal dl li, .reveal ul li {
    margin-bottom: 0.5em; }

.reveal iframe {
  border: 0 none transparent; }

.reveal section {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse; }
  .reveal section a {
    color: black; }
  .reveal section a,
  .reveal section a:hover,
  .reveal section a:focus,
  .reveal section a:active {
    border-bottom: 4px solid #24abe2; }
  .reveal section h1 {
    line-height: 2em;
    margin-bottom: 1em; }
  .reveal section h1 + h2 {
    margin-top: -0.75em; }
  .reveal section img {
    border: 0 none transparent;
    box-shadow: none; }
  .reveal section .title {
    border-bottom: 15px solid #be1e2d;
    padding: 0 0 0.25em; }
  .reveal section .feature {
    display: block;
    height: 900px;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    width: 900px; }
  .reveal section .feature-padding {
    height: 800px;
    padding: 50px;
    width: 800px; }
  .reveal section .feature-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .reveal section .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    height: 850px;
    padding: 25px 50px;
    width: 600px; }
  .reveal section .red, .reveal section .orange, .reveal section .lime, .reveal section .green, .reveal section .blue, .reveal section .indigo {
    color: white; }
    .reveal section .red h1, .reveal section .red h2, .reveal section .red h3, .reveal section .red h4, .reveal section .red h5, .reveal section .red h6, .reveal section .orange h1, .reveal section .orange h2, .reveal section .orange h3, .reveal section .orange h4, .reveal section .orange h5, .reveal section .orange h6, .reveal section .lime h1, .reveal section .lime h2, .reveal section .lime h3, .reveal section .lime h4, .reveal section .lime h5, .reveal section .lime h6, .reveal section .green h1, .reveal section .green h2, .reveal section .green h3, .reveal section .green h4, .reveal section .green h5, .reveal section .green h6, .reveal section .blue h1, .reveal section .blue h2, .reveal section .blue h3, .reveal section .blue h4, .reveal section .blue h5, .reveal section .blue h6, .reveal section .indigo h1, .reveal section .indigo h2, .reveal section .indigo h3, .reveal section .indigo h4, .reveal section .indigo h5, .reveal section .indigo h6 {
      color: white; }
    .reveal section .red a, .reveal section .orange a, .reveal section .lime a, .reveal section .green a, .reveal section .blue a, .reveal section .indigo a {
      color: white; }
  .reveal section .red {
    background-color: #be1e2d; }
    .reveal section .red .title {
      border-color: #f6921e; }
    .reveal section .red a,
    .reveal section .red a:hover,
    .reveal section .red a:focus,
    .reveal section .red a:active {
      border-bottom: 4px solid #f6921e; }
  .reveal section .orange {
    background-color: #f6921e; }
    .reveal section .orange .title {
      border-color: #be1e2d; }
    .reveal section .orange a,
    .reveal section .orange a:hover,
    .reveal section .orange a:focus,
    .reveal section .orange a:active {
      border-bottom: 4px solid #be1e2d; }
  .reveal section .lime {
    background-color: #8dc53f; }
    .reveal section .lime .title {
      border-color: #009345; }
    .reveal section .lime a,
    .reveal section .lime a:hover,
    .reveal section .lime a:focus,
    .reveal section .lime a:active {
      border-bottom: 4px solid #009345; }
  .reveal section .green {
    background-color: #009345; }
    .reveal section .green .title {
      border-color: #8dc53f; }
    .reveal section .green a,
    .reveal section .green a:hover,
    .reveal section .green a:focus,
    .reveal section .green a:active {
      border-bottom: 4px solid #8dc53f; }
  .reveal section .blue {
    background-color: #24abe2; }
    .reveal section .blue .title {
      border-color: #2e3191; }
    .reveal section .blue a,
    .reveal section .blue a:hover,
    .reveal section .blue a:focus,
    .reveal section .blue a:active {
      border-bottom: 4px solid #2e3191; }
  .reveal section .indigo {
    background-color: #2e3191; }
    .reveal section .indigo .title {
      border-color: #24abe2; }
    .reveal section .indigo a,
    .reveal section .indigo a:hover,
    .reveal section .indigo a:focus,
    .reveal section .indigo a:active {
      border-bottom: 4px solid #24abe2; }
  .reveal section .small {
    font-size: 0.8em; }
  .reveal section .left {
    text-align: left; }
